{% extends "user_app/base.html" %}
{% load static %}
{% block content %}
<div class="conyainer">
<div class="d-flex gap-5 m-5 ms-6 me-auto">
    <div class="card  col-md-3">
        <a class="btn" href="{% url 'service_categories' %}" style="width:200px; height:50px;">
            Services
        </a>
    </div>
    <div class="card  col-md-3">
        <a class="btn" href="{% url 'location' %}" style="width:200px; height:50px;">
            Location
        </a>
    </div>
    <div class="card  col-md-3">
        <a class="btn" href="{% url 'company_requests' %}" style="width:200px; height:50px;">
            Company
        <span class="badge bg-danger text-light me-0">
            {{ c_requests }}
        </span>
        </a>
    </div>
</div>
</div>

{% endblock content %}
